{% extends 'base.html' %}

{% block content %}
  <h1>Inventory</h1>
  <table>
    <thead>
      <tr>
        <th>Ingredient</th>
        <th>Quantity</th>
        <th>Unit</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      {% for ingredient in ingredients %}
        <tr>
          <td>{{ ingredient.ingredient }}</td>
          <td>{{ ingredient.quantity }}</td>
          <td>{{ ingredient.unit }}</td>
          <td>
            <a href="{% url 'inventory:edit_ingredient' ingredient.id %}">Edit</a>
            <a href="{% url 'inventory:delete_ingredient' ingredient.id %}">Delete</a>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
  <a href="{% url 'inventory:add_ingredient' %}">Add Ingredient</a>
{% endblock %}
