{% extends "base.html" %}

{% block content %}
    <h1>Purchases</h1>

    <table>
        <thead>
            <tr>
                <th>Menu Item</th>
                <th>Timestamp</th>
                <th>Total Price</th>
            </tr>
        </thead>
        <tbody>
            {% for purchase in purchases %}
                <tr>
                    <td>{{ purchase.menu_item }}</td>
                    <td>{{ purchase.quantity }}</td>
                    <td>{{ purchase.timestamp }}</td>
                    <td>{{ purchase.purchase_total_price }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
