<!DOCTYPE html>
<html>
<head>
    <title>Inventory App</title>
</head>
<body>
    <header>
        <nav>
            <a href="{% url 'inventory:index' %}">Home</a>
            <a href="{% url 'inventory:menu' %}">Menu</a>
            <a href="{% url 'inventory:purchases' %}">Purchases</a>
            <a href="{% url 'inventory:ingredients' %}">Ingredients</a>
        </nav>
    </header>
    <main>
        {% block content %}{% endblock %}
    </main>
    <footer>
        <p>Copyright © {{ current_year }} Inventory App</p>
    </footer>
</body>
</html>
